.bruno-ace-sc-regular {
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    z-index: 100;
    background: rgb(255, 78, 161);
    transform-origin: 0%;
  }
  
.parallax {
    overflow: hidden;
    letter-spacing: -2px;
    line-height: 1.4;
    margin: 0;
    /* margin-top: 4rem; */
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .parallax .scroller {
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
  }
  
  .parallax span {
    display: block;
    margin-right: 30px;
  }
  